@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --background-light: hsl(227, 100%, 98%);
  --background-dark: hsl(220, 40%, 13%);
  --text-dark: hsl(217, 35%, 45%);
  --text-light: hsl(0, 0%, 100%);
  --background-primary-dark: hsl(222, 41%, 20%);
  --primary-blue: hsl(212, 100%, 50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  background: var(--background-dark);
  color: var(--text-light);
}

.light-mode {
  background-color: var(--background-light);
  color: var(--text-dark);
}

main {
  width: 85%;
  margin: 2rem auto;
  max-width: 481px;
}

header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header p {
  display: flex;
  align-items: center;
  gap: 1rem;
}

section {
  margin: 2.185rem 0;
}

.search-bar {
  background-color: var(--background-primary-dark);
  padding: 0.25rem 0.25rem 0.25rem 1rem;
  display: flex;
  border-radius: 15px;
  align-items: center;
}

.search-icon {
  height: 20px;
  object-fit: contain;
  margin-right: 0.55rem;
}

input {
  background-color: transparent;
  border: none;
}

input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  color: #ffffff;
}

input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  color: #ffffff;
}

button {
  margin-left: auto;
  display: block;
  block-size: 46px;
  color: white;
  background-color: var(--primary-blue);
  border: none;
  border-radius: 10px;
  padding: 0 1rem;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  font-family: "Space Mono", monospace;
}

.search-result {
  background-color: var(--background-primary-dark);
  margin: 1rem 0;
  border-radius: 15px;
  padding: 2rem 1.5rem;
  display: flex;
}

.lg-photo {
  display: none;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.handle {
  color: var(--primary-blue);
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  margin: 0.375rem 0;
}

.date-joined {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
}

.bio {
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  color: #ffffff;
  word-break: break-all;
}

.stats {
  display: flex;
  background-color: var(--background-dark);
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border-radius: 10px;
  margin: 1.45rem 0;
  padding: 1.125rem 0;
}

.stats p {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
}

.stats h3 {
  color: #ffffff;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul li {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #ffffff;
}

li span {
  width: 20px;
}

li img {
  filter: brightness(0) invert(1);
}

@media (min-width: 1280px) {
  main {
    max-width: 730px;
  }

  .profile div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
