@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --background-light: hsl(227, 100%, 98%);
  --background-dark: hsl(220, 40%, 13%);
  --text-dark: hsl(217, 35%, 45%);
  --text-light: hsl(0, 0%, 100%);
  --background-primary-dark: hsl(222, 41%, 20%);
  --primary-blue: hsl(212, 100%, 50%);
  --primary-red: hsl(0, 91%, 62%);
  --secondary-blue: hsl(212, 100%, 69%);
  --pale-blue: hsl(222, 44%, 70%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  background: var(--background-dark);
  color: var(--text-light);
}

.light-mode {
  background-color: var(--background-light);
  color: var(--text-dark);
}

main {
  width: 85%;
  margin: 2rem auto;
  max-width: 481px;
}

header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header p {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.light:hover {
  color: var(--pale-blue);
  cursor: pointer;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
}

.light-icon {
  background-image: url(./assets/icon-sun.svg);
}

.light:hover .light-icon {
  background-image: url(./assets//002-sun.svg);
}

section {
  margin: 2.185rem 0;
}

.search-bar {
  background-color: var(--background-primary-dark);
  padding: 0.25rem 0.25rem 0.25rem 1rem;
  display: flex;
  border-radius: 15px;
  align-items: center;
}

.search-icon {
  height: 20px;
  object-fit: contain;
  margin-right: 0.55rem;
}

.search-bar small {
  color: var(--primary-red);
  display: none;
  margin-right: 6px;
}

input {
  background-color: transparent;
  border: none;
  width: 70%;
  padding: 1rem 0;
  color: #ffffff;
  caret-color: var(--primary-blue);
}

input:focus-visible {
  outline: none;
}

input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  color: #ffffff;
}

input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  color: #ffffff;
}

input:hover {
  cursor: pointer;
}

button {
  margin-left: auto;
  display: block;
  block-size: 46px;
  color: white;
  background-color: var(--primary-blue);
  border: none;
  border-radius: 10px;
  padding: 0 1rem;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  font-family: "Space Mono", monospace;
}

button:hover {
  cursor: pointer;
  background-color: var(--secondary-blue);
}

.search-result {
  background-color: var(--background-primary-dark);
  margin: 1rem 0;
  border-radius: 15px;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
}

.search-result > div {
  width: 100%;
}

.lg-photo {
  display: none;
}

.avatar {
  object-fit: contain;
  width: 70px;
  border-radius: 50%;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.handle {
  color: var(--primary-blue);
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  margin: 0.375rem 0;
}

.date-joined {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
}

.bio {
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  color: #ffffff;
  word-break: break-all;
}

.stats {
  display: flex;
  background-color: var(--background-dark);
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border-radius: 10px;
  margin: 1.45rem 0;
  padding: 1.125rem 0;
}

.stats p {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
}

.stats h3 {
  color: #ffffff;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul li {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #ffffff;
}

li span {
  width: 20px;
}

li img {
  filter: brightness(0) invert(1);
}

.inactive {
  opacity: 0.6;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.website a:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (min-width: 1280px) {
  main {
    max-width: 730px;
  }

  .search-result {
    padding: 2.75rem 3rem;
    gap: 2.25rem;
    justify-content: flex-start;
  }

  .search-result > div {
    width: 70%;
  }

  .sm-photo {
    display: none;
  }

  .lg-photo {
    display: block;
    align-self: flex-start;
  }

  .avatar {
    width: 120px;
  }

  .profile {
    gap: 1.45rem;
  }

  .profile div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .name {
    font-size: 26px;
    line-height: 39px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row dense;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
  }

  .twitter {
    order: 1;
  }
}
